* {
    background-image: url(wallpaper.png);
    font-family: 'Minecraft', sans-serif;
    cursor: url("Cursor.cur"), pointer;
}

header {
    text-align: center;
    text-decoration: none;
}

main {
    text-align: center;
    text-decoration: none;
}

.buttonBlock {
    background-image: url(dirt.png);
}

footer {
    text-align: center;
    text-decoration: none;
}